<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body>
  <%= render 'layouts/header' %>
  <div class="container">
    <%= render 'shared/flash_messages' unless flash.empty? %>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </div>
  <!-- hide flash notifications -->
  <script type="text/javascript">
  window.setTimeout(function() {
    $(".alert").fadeTo(500, 0).slideUp(500, function()
    {
    $(this).remove();
    });
    }, 5000);
  </script>
</body>
</html>
